<header class="header">
    <div class="contenido-header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" routerLink="">
                    <h1 class="logo__nombre centrar-texto"><span class="logo__bold">La Voz de los Pastos</span></h1>
                </a>
    
                <nav class="navegacion">
                    <a routerLink="about" class="navegacion__enlace">Nosotros</a>
                    <a routerLink="service" class="navegacion__enlace">Servicios</a>
                    <a routerLink="contact" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Emisora Indígena</h2>
            <p class="no-margin">Una Radio con autoridad</p>
        </div>
    </div>
</header>
