<div class="contenedor contenido-principal">
    <main class="blog">
        <h3>Nuestro blog</h3>

        <article class="entrada">
            <div class="entrada__imagen">
                <img src="logo-emisora.jpeg" alt="imagen tejidos">
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Emisora</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos soluta ratione praesentium explicabo,
                    eius laborum aut incidunt fugit labore laudantium odit cupiditate cumque repellendus ea obcaecati
                    consequuntur aliquid mollitia? Perspiciatis?</p>
                <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
            </div>
        </article>
    </main>
    <aside class="sidebar">
        <h3>Nuestros Servicios</h3>

        <ul class="servicios no-padding">

            <li class="widget-servicio">
                <h4 class="no-margin">Cuñas radiales</h4>
                <p class="widget-servicio__label">Precio:
                    <span class="widget-servicio__info">Gratis</span>
                </p>
                <p class="widget-servicio__label">Cupo:
                    <span class="widget-servicio__info">20</span>
                </p>
                <a href="entrada.html" class="boton boton--secundario">Mas Información</a>
            </li>
            
            <li class="widget-servicio">
                <h4 class="no-margin">Medina tradicional</h4>
                <p class="widget-servicio__label">Precio:
                    <span class="widget-servicio__info">Gratis</span>
                </p>
                <p class="widget-servicio__label">Cupo:
                    <span class="widget-servicio__info">20</span>
                </p>
                <a href="entrada.html" class="boton boton--secundario">Mas Información</a>
            </li>
        </ul>
    </aside>
</div>