<div class="contenedor contenido-principal">
    <main class="blog">
        <h3>Resguardo de Pastas Aldana</h3>

        <article class="entrada">
            <div class="entrada__imagen">
                <img src="logo-emisora.jpeg" alt="logo emisora">
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Emisora</h4>
                <p>La Emisora Indígena la Voz de los Pastos, ubicada en la Vereda La Laguna del Municipio de Aldana en
                    el Departamento de Nariño, al sur occidente de Colombia y parte integral del Pueblo indígena de los
                    Pastos del Departamento de Nariño</p>
                <a routerLink="intro" class="boton boton--primario">Leer entrada</a>
            </div>
        </article>
    </main>
    <aside class="sidebar">
        <h3>Nuestros Servicios</h3>

        <ul class="servicios no-padding">

            <li class="widget-servicio">
                <h4 class="no-margin">Transmision Cuñas radiales</h4>
                <p class="widget-servicio__label">AICO -
                    <span class="widget-servicio__info"> Autoridades Indígenas de Colombia</span>
                </p>
                <a routerLink="" class="boton boton--secundario">Mas Información</a>
            </li>

            <li class="widget-servicio">
                <h4 class="no-margin">Programas Culturales y Medicina Tradicional</h4>
                <p class="widget-servicio__label">Aldana -
                    <span class="widget-servicio__info"> Nariño</span>
                </p>
                <a routerLink="" class="boton boton--secundario">Mas Información</a>
            </li>
        </ul>
    </aside>
</div>