<div class="contenedor contenido-principal">
    <main class="blog">
        <h3>Nuestro blog</h3>

        <article class="entrada">
            <div class="entrada__imagen">
                <img src="logo-emisora.jpeg" alt="imagen tejidos">
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Emisora</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos soluta ratione praesentium explicabo,
                    eius laborum aut incidunt fugit labore laudantium odit cupiditate cumque repellendus ea obcaecati
                    consequuntur aliquid mollitia? Perspiciatis?</p>
                <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
            </div>
        </article>

        <article class="entrada">
            <div class="entrada__imagen">
                <img src="tejidos1.jpg" alt="imagen tejidos">
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Tipos de grano de cafe</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos soluta ratione praesentium explicabo,
                    eius laborum aut incidunt fugit labore laudantium odit cupiditate cumque repellendus ea obcaecati
                    consequuntur aliquid mollitia? Perspiciatis?</p>
                <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
            </div>
        </article>

        <article class="entrada">
            <div class="entrada__imagen">
                <img src="medicina-tradicional.jpg" alt="imagen tejidos">
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">3 recetas de cafe</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos soluta ratione praesentium explicabo,
                    eius laborum aut incidunt fugit labore laudantium odit cupiditate cumque repellendus ea obcaecati
                    consequuntur aliquid mollitia? Perspiciatis?</p>
                <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
            </div>
        </article>
    </main>
    <aside class="sidebar">
        <h3>Nuestros Cursos y Talleres</h3>
    </aside>
</div>
<!-- <pastas-station></pastas-station> -->