<main class="contenedor">
    <h3 class="centrar-texto">Historia Emisora</h3>
    <img src="logo-emisora.jpeg" alt="imagen entrada">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facere aliquid quam, minima autem neque
        repellendus quod, voluptatum cum facilis provident, eos sit blanditiis soluta. Rem quo sed fugit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, itaque reprehenderit. Esse possimus exercitationem
        omnis rem velit laborum porro accusantium magnam provident pariatur fugiat, tempore aliquam error officiis
        dolorem temporibus!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur architecto nemo earum vitae. Repellat
        necessitatibus excepturi voluptatum ex doloribus labore quae. Maiores eum et dignissimos velit suscipit officiis
        doloremque reiciendis.</p>
</main>