<main class="contenedor">
    <h3 class="centrar-texto">Sobre Nosotros</h3>

    <div class="sobre-nosotros">
        <div class="sobre-nosotros__imagen">
            <img src="nosotros.jpg" alt="imagen nosotros">
        </div>

        <div class="sobre-nosotros__texto">
            <p>La Voz de Los Pastos, es una emisora de radio que transmite desde el departamento de Nariño, su
                frecuencia es 106.7 FM ofrece una amplia gama de programas y contenidos para satisfacer los gustos más
                variados. Desde música contemporánea hasta programas de noticias y entretenimiento, esta emisora se
                destaca por su calidad de sonido, variedad de contenido y compromiso con sus oyentes.</p>
        </div>
    </div>
</main>