<footer class="footer">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre centrar-texto"><span class="logo__bold">La Voz de los Pastos</span></h1>
            </a> <!--validar route-->

            <nav class="navegacion">
                <a href="nosotros.html" class="navegacion__enlace">Nosotros</a> <!--validar route-->
                <a href="servicios.html" class="navegacion__enlace">Servicios</a> <!--validar route-->
                <a href="contacto.html" class="navegacion__enlace">Contacto</a> <!--validar route-->
            </nav>
        </div>
    </div>
</footer>
