<main class="contenedor">
    <h3 class="centrar-texto">Nuestros Servicios</h3>

    <div class="servicio">
        <div class="servicio__imagen">
            <img src="medicina-tradicional.jpg" alt="Imagen del servicio">
        </div>

        <div class="servicio__informacion">
            <h4 class="no-margin">Programas de Medina tradicional</h4>
            <p class="servicio__label">AICO -
                <span class="servicio__info"> Autoridades Indígenas de Colombia</span>
            </p>
            <p class="curso__descripcion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae atque alias delectus dolor totam
                nisi numquam a dignissimos cum asperiores maiores, aliquam beatae excepturi voluptatum praesentium.
                Repellat, nemo velit.
            </p>
        </div> <!--.servicio-informacion-->
    </div> <!--.servicio-->

    <div class="servicio">
        <div class="servicio__imagen">
            <img src="tejidos1.jpg" alt="Imagen del servicio">
        </div>

        <div class="servicio__informacion">
            <h4 class="no-margin">Programas Culturales y Medicina Tradicional</h4>
            <p class="servicio__label">Aldana -
                <span class="servicio__info"> Nariño</span>
            </p>
            <p class="curso__descripcion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae atque alias delectus dolor totam
                nisi numquam a dignissimos cum asperiores maiores, aliquam beatae excepturi voluptatum praesentium.
                Repellat, nemo velit.
            </p>
        </div> <!--.servicio-informacion-->
    </div> <!--.servicio-->
</main>