/* Contacto */
.contacto-bg {
    background-image: url(../../../../../public/contacto.jpg);
    height: 80rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

/* modificadores de boton */
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton--primario {
    background-color: var(--negro);
}